# Python
__pycache__/
*.pyc
venv/
.venv/
env/
*.env
.env

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store

# Model files (large — handled separately)
*.pt

# Dataset (large — not pushed to GitHub)
dataset/NEU-DET-raw/
dataset/processed/images/
dataset/processed/labels/

# Uploads/results at runtime
backend/uploads/
backend/results/